{%- macro render(val) %}
{%-   if val | is_list %}{{ val | join(",") }}
{%-   elif val in [true, false] %}{{ val | lower }}
{%-   else %}{{ val }}
{%-   endif %}
{%- endmacro -%}

HOME=/config

{%- for var, val in rtorrent.flood | dictsort %}
{%-   if val is not none %}
FLOOD_OPTION_{{ var }}={{ render(val) }}
{%-   endif %}
{%- endfor %}
