{%- macro render(val) %}
{%-   if val is boolean %}{{ val | int }}
{%-   else %}{{ val }}
{%-   endif %}
{%- endmacro -%}

HOME=/config
{%- if rtorrent.lookup.paths.downloads is mapping %}
RTORRENT_DIR_DOWNLOAD={{ rtorrent.lookup.paths.downloads.values() | first }}
{%- else %}
RTORRENT_DIR_DOWNLOAD=/downloads
{%- endif %}
RTORRENT_PORT_RANGE_START={{ rtorrent.config.port }}
RTORRENT_PORT_RANGE_END={{ rtorrent.config.port }}
RTORRENT_PORT_RANDOM=0

{%- for var, val in rtorrent.config | dictsort %}
{%-   if val is not none and var not in ["port", "unix_socket"] %}
RTORRENT_{{ var | upper }}={{ render(val) }}
{%-   endif %}
{%- endfor %}
